<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bulk_discount.name %>
</p>

<p>
  <strong>Percent discount:</strong>
  <%= "#{(@bulk_discount.percent_discount * 100).to_i}%" %>
</p>

<p>
  <strong>Quantity threshold:</strong>
  <%= @bulk_discount.quantity_threshold %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @bulk_discount.merchant.name %>
</p>

<%= link_to 'Edit', edit_bulk_discount_path(@bulk_discount) %>
